<h1>Productos del carrito {{cartId}}: </h1>
{{#if cartProducts.length}}
  {{#each cartProducts }}
    <div style="border: 1px solid #000; border-radius: 1rem; padding: 1rem; margin-bottom: 1rem">
      <p> Title: {{this.product.title}} </p>
      <p> Description: {{this.product.description}} </p>
      <p> Price: {{this.product.price}} </p>
      <p> Quantity: {{this.quantity}} </p>
    </div>
  {{/each}}
  <button id="btn-empty-cart">Vaciar carrito</button>
  <button id="btn-cart-purchase">Finalizar compra</button>
{{else}}
  <h2>Carrito vacío</h2>
{{/if}}
<a href="/products"><button>Volver a productos</button></a>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/cart.js"></script>